body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #D4ECDD;
}

h1 {
    margin: 10px auto 0 auto;  /* 1rem = 16px = 100% */
    font-family: 'Parisienne', cursive;
    font-size: 5.625rem; 
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

a {
    color: #11999e;
}

p {
    line-height: 2;
}

.container-fluid {
    padding: 0% 10%;
}

.top-container {
    background-color: #152D35;
    padding-top: 100px;
    position: relative;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 400px;
}

.top-img {
    width: 550px;
    margin-top: 60px;
}

.profile img {
    width: 150px;
    border-radius: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
}

.intro {
    width: 30%;
    margin: 30px auto;
}

.contorl-carousel {
    width: 10%;
}

.title-project {
    margin-bottom: 100px;
}

.image-project {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

figure {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    opacity: 0.9;
    transition: 0.3s;
}

.layer:hover {
    background-color: #112031;
}

.box-image-project {
    display: flex;
    justify-content: center;
}

figcaption {
    position: relative;
    transition: 0.5s;
    top: 90%;
    opacity: 0;
    color: #66BFBF;
}

.layer:hover figcaption {
    top: 40%;
    opacity: 1;
}

.btn-project {
    border-color: #11999e;
    color: #D4ECDD;
    margin-top: 10px;
}

.btn-project:hover {
    background-color: #11999e;
    border-color: #11999e;
}

/* .btn-project:active {
    background-color: none;
   }  */

.middle-container {
    background-color: #345B63;
}

.skill-row {
    width: 50%;
    margin: 100px auto 175px auto;
    text-align: left;
    line-height: 2;
}

.web-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.design-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.clear {
    clear: both;
}

.contact-me {
    padding-bottom: 80px;
}

.contact-me-massage {
    width: 40%;
    margin: 40px auto;
}

.btn-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #112031;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    color: #D4ECDD;
}

.btn-contact:hover {
    color: #11999e;
    background-color: #D4ECDD;
    transition: 0.5s all;
}

.bottom-container {
    background-color: #112031;
    padding-top: 30px;
    padding-bottom: 30px;
}

hr {
    /* border: none;
    border-top: 4px dotted gray;
    width: 5%; */
    margin-top: 80px;
    margin-bottom: 80px;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 30px;
}

.footer-name {
    margin-bottom: 0;
}

@media (max-width: 1097px) {
    .top-cloud {
        right: 200px;
    }

    .bottom-cloud {
        top: 50px;
    }
}

@media (max-width: 700px) {
    .top-cloud {
        right: 10px;
    }

    .bottom-cloud {
        left: 10px
    }

    .intro {
        width: 50%;
    }

    .contact-me-massage {
        width: 60%;
    }
    
    .top-img {
        width: 300px;
    }
}
